<mat-toolbar class="header">
  <mat-toolbar-row>
    <div class="row between-xs middle-xs header-row">
      <nav class="actions">
      <a class="buttonsLeft" mat-raised-button routerLink="/home" routerLinkActive="active">
        <mat-icon>home</mat-icon>
        Home
      </a>
      <a class="buttonsLeft" mat-raised-button routerLink="/products" routerLinkActive="active">
        <mat-icon>store</mat-icon>
        Tienda
      </a>
      <a class="buttonsLeft" mat-raised-button routerLink="/contact" routerLinkActive="active">
        <mat-icon>contact_support</mat-icon>
        Contactenos
      </a>
      <a class="buttonsRight" routerLink="/auth/login" mat-raised-button routerLinkActive="active">
        <mat-icon>person</mat-icon>
        Iniciar Sesión
      </a>
      <a class="buttonsRight" routerLink="/auth/register" mat-raised-button routerLinkActive="active">
        <mat-icon>person_add</mat-icon>
        Registrarse
      </a>
    </nav>
    </div>

  </mat-toolbar-row>
</mat-toolbar>