@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
.header-row{
  width: 100%;
}
.header{
  font-family: 'Oswald', sans-serif;
  background-color: #2AA5A1;
}

.buttonsLeft{
  float: left;
  font-family: 'Oswald', sans-serif;
  margin: 5px;
}
.buttonsRight {
  float:right;
  font-family: 'Oswald', sans-serif;
  margin: 5px;
}
a.active {
  background-color: #245E71;
  color: white;
}
.actions{
  width: 100%;
  clear: both;
}


  
