<mat-toolbar class="header">
    <mat-toolbar-row>
      <div class="row between-xs middle-xs header-row">
        <nav class="actions">
          <a class="buttonsLeft" mat-raised-button routerLink="/user/tienda" routerLinkActive="active">
            <mat-icon>store</mat-icon>
            Tienda
          </a>
          <a class="buttonsRight" mat-raised-button (click)="logout()">
            <mat-icon>power_settings_new</mat-icon>
            Cerrar Sesión
          </a>
          <a class="buttonsRight" routerLink="/user/carrito" routerLinkActive="active" mat-raised-button [matBadge]="total$ | async" matBadgeColor="warn">
            <mat-icon>shopping_cart</mat-icon>
            Carrito
          </a>   
        </nav>
      </div>
    </mat-toolbar-row>
</mat-toolbar>