
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
}
.container {
  margin: auto;
  width: auto;
  z-index: 1;
  left: 63%;
  font-family: 'Oswald', sans-serif;
}
.badge {
  background-color: #2AA5A1;
  border-radius: 15px;
  color: white;
  display: inline-block;
  font-size: 20px;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  font-family: 'Oswald', sans-serif;
}
.shopping-cart-header {
  width: 320px;
  position: relative;
  border-radius: 3px;
  padding: 20px;
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 15px;
  font-family: 'Oswald', sans-serif;
}
.shopping-cart-total {
  float: right;
  font-family: 'Oswald', sans-serif;
}
.shopping-cart-items {
    padding-top: 20px;
    font-family: 'Oswald', sans-serif;
}
.image {
  float: left;
  margin-right: 100px;
  margin-left: 50px;
  margin-top: 7px;
  margin-bottom: 7PX;
  width: 20%;
}
.item-name {
  display: block;
  padding-top: 10px;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}
.item-price {
  font-size: 16px;
  color: brown;
  font-family: 'Oswald', sans-serif;
}
.item-quantity {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}
.item-total{
  font-size: 16px;
  color: brown;
  font-family: 'Oswald', sans-serif;
}
.actions{
  background-color: #245E71;
  margin: 15PX;
}
.cart-icon {
  color: #515783;
  font-size: 24px;
  margin-right: 7px;
  float: left;
}

.clearfix {
  content: "";
  display: inline-flexbox;
  clear: both;
  background-color:whitesmoke;
  border: 0px solid #000000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.ul {
  padding-inline-start: 0px;
  width:670px; 
  height:14px; 
  top:45px; 
  margin-right:0px; 
  padding-right:0px; 
  float:both; 
  position:relative; 
  overflow:hidden; 
  list-style:none;
  float:right;
}
.contenedor{
  background-color:white;
}
.contenedor2{
  background-color: transparent;
}
.lighter-text{
 font-size: 20px;
 color: brown;
 font-family: 'Oswald', sans-serif;
}
.mat-stepper-horizontal {
  font-family: 'Oswald', sans-serif;
 
}


