<form [formGroup]="form" (ngSubmit)="register($event)">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Registro</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input placeholder="email" formControlName="email" matInput type="email" >
          </mat-form-field>
          <p *ngIf="form.get('email').hasError('email')">Debe de ser un correo electronico valido</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input 
            placeholder="password" 
            formControlName="password" 
            matInput type="password"
            pattern=".{6,}" >        
          </mat-form-field>
          <p *ngIf="form.get('password').hasError('pattern')">Debe tener al menos 6 caracteres</p>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="form.invalid" mat-raised-button type="submit">Registro</button>
    </mat-card-actions>
  </mat-card>
  
</form>