.header{
    page-break-after: auto;
    border: 3px #2AA5A1 solid;
    margin: auto;
    width: 230px;
    height: 400px;}

.login{
    background-color: #2AA5A1;
  margin-bottom: 50px;;
  padding: 20px;
 color: white;
  /* IMPORTANTE */
  text-align: center;
}

.logfooter{
    background-color: #2AA5A1;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
}
.secciones{
    margin: auto;
    float: left;    
}
.redes{
    margin: auto;
    float: right;
}
.iconred{
    width: 30px;
    height: 30px;
}

.a{
    color: white;
}
.boton
{
    display: inline;
}
.registro {
    width: 280px;
    height: 45px;
    padding-left: 5px;
    padding-top: 150px;
}

