<body>
    <!--<div class="mat-elevation-z8">
    <ng-container matcolumndef="id">
        </ng-container><ng-container matcolumndef="name">
        </ng-container><table mat-table="" class="full-width-table" matsort="" aria-label="Elements">
            -->
      <!-- Id Column -->
       <!-- <tbody><tr><th mat-header-cell="" *matheadercelldef="" mat-sort-header="">Id</th>
        <td mat-cell="" *matcelldef="let row">{{row.id}}</td>-->
      
  
      <!-- Name Column -->
      <!-- <th mat-header-cell="" *matheadercelldef="" mat-sort-header="">Name</th>
        <td mat-cell="" *matcelldef="let row">{{row.name}}</td>
      
  
      </tr><tr mat-header-row="" *matheaderrowdef="displayedColumns"></tr>
      <tr mat-row="" *matrowdef="let row; columns: displayedColumns;"></tr>
    </tbody></table>
  
    <mat-paginator #paginator="" [length]="dataSource?.data.length" [pageindex]="0" [pagesize]="50" [pagesizeoptions]="[25, 50, 100, 250]">
    </mat-paginator>
  </div>-->
</body>