@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.crop-image {
  height: 300px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
}
.mat-card-actions {
    justify-content: flex-end;
    margin-left: 260px;
    margin-top: -10px;
}
.add {
  justify-content: flex-end;
  background-color: #245E71;
  color: white;
}
.mat-card{
  font-family: 'Oswald', sans-serif;
  justify-content: flex-end;
}
.mat-card-title{
  font-family: 'Oswald', sans-serif, bold;
font-size: 30px;
}
.mat-card-subtitle{

font-size: 20px;
}