<mat-card class="header" ng-controller='ProfileComponent'>
    <mat-card-header >
      <mat-card-title>Perfil</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-xs">
         
            <input id='userEmailInput' placeholder="Email" matInput type="email" disabled >
            <mat-card-title id='userEmailInput'placeholder="Email"></mat-card-title>
            <label id="userEmailInput">Deberia ir el nombre</label>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
         
        </div>
      </div>
    </mat-card-content>
    <a><img id=userImg src='../../../../assets/images/mug.png'  style='width: 100%'></a>
</mat-card>



  
